extends ../../layout/landing 

include ../../common.blocks/header/header 
include ../../common.blocks/footer/footer 
include ../../common.blocks/receipt/receipt 
include ../../common.blocks/benefit/benefit 
include ../../common.blocks/donut-chart/donut-chart 
include ../../common.blocks/feedback/feedback 
include ../../common.blocks/bullet/bullet 

block variables
  - var pageTitle = 'Room details';
  - var pageDescription = 'Room details';
  - var pageClass = '';

block styles
  link(rel="stylesheet" href="assets/css/roomDetails.css")

block scripts
  script(type="text/javascript" src="assets/js/roomDetails.js")

block header
  +header()

block footer
  +footer()

block content
  - const data = require("./room-details.data.json");
  - const { gallery, information, chart, feedbacks, bullets, cancellation, receipt } = data;
  - const coverPhotoAlt = gallery.coverPhoto.alt || gallery.coverPhoto.src;
  - const miniImage1Alt = gallery.miniImages[0].alt || gallery.miniImages[0].src;
  - const miniImage2Alt = gallery.miniImages[1].alt || gallery.miniImages[1].src;

  .room-details
    .room-details__gallery
      .room-details__cover-wrapper
        img.room-details__cover-image.js-room-details__cover-image(src=gallery.coverPhoto.src, alt=coverPhotoAlt)
      .room-details__mini-images
        .room-details__mini-image-wrapper
          img.room-details__mini-image.js-room-details__mini-image(src=gallery.miniImages[0].src, alt=miniImage1Alt)
        .room-details__mini-image-wrapper
          img.room-details__mini-image.js-room-details__mini-image(src=gallery.miniImages[1].src, alt=miniImage2Alt)

    .room-details__description
      .room-details__content
        .room-details__first-row
          .room-details__information
            h2.room-detail__information-title #{information.title}
            each benefit in information.benefits
              .room-details__benefit
                +benefit(benefit)

          .room-details__donut-chart
            h2.room-details__donut-chart-title #{chart.title}
            .room-details__chart
              +donut-chart(chart.parameters)

        .room-details__feedbacks
          .room-details__feedbacks-title
            h2 #{feedbacks.title}
            span #{feedbacks.quantity}
          each feedback in feedbacks.items
            .room-details__feedback
              +feedback(feedback)

        .room-details__rools
          .room-details__bullets
            h2.room-details__bullets-title #{bullets.title}
            each bullet in bullets.items
              .room-details__bullet
                +bullet(bullet)

          .room-details__cancellation
            h2.room-details__cancellation-title #{cancellation.title}
            p.room-details__cancellation-description #{cancellation.description}
      
      .room-details__sidebar
        +receipt(receipt)
