extends ../../layout/landing 

include ../../common.blocks/header/header 
include ../../common.blocks/footer/footer 
include ../../common.blocks/receipt/receipt 
include ../../common.blocks/benefit/benefit 
include ../../common.blocks/donut-chart/donut-chart 
include ../../common.blocks/feedback/feedback 
include ../../common.blocks/bullet/bullet 

block variables
  - const pageTitle = 'Room details';
  - const pageDescription = 'Room details';
  - const pageClass = '';
  - const data = require('./room-details.data.json');
  - const { gallery, information, chart, feedbacks, bullets, cancellation, receipt } = data;

block styles
  link(rel="stylesheet" href="assets/css/roomDetails.css")

block scripts
  script(type="text/javascript" src="assets/js/roomDetails.js")

block header
  +header()

block footer
  +footer()

block content
  .room-details.js-room-details
    .room-details__gallery.js-room-details__gallery
      if gallery.miniImages
        .room-details__cover-wrapper
          img.room-details__cover-image.js-room-details__cover-image(src=gallery.coverPhoto.src, alt=gallery.coverPhoto.alt)
        
        .room-details__mini-images.js-room-details__mini-images
          each miniImage in gallery.miniImages
            .room-details__mini-image-wrapper
              img.room-details__mini-image.js-room-details__mini-image(src=miniImage.src, alt=miniImage.alt)
      else
        .room-details__cover-wrapper.room-details__cover-wrapper_width_full
          img.room-details__cover-image.js-room-details__cover-image(src=gallery.coverPhoto.src, alt=gallery.coverPhoto.alt)

    .room-details__description
      .room-details__content
        .room-details__first-row
          .room-details__information
            h2.room-detail__information-title #{information.title}
            each benefit in information.benefits
              .room-details__benefit
                +benefit(benefit)

          .room-details__donut-chart
            h2.room-details__donut-chart-title #{chart.title}
            .room-details__chart
              +donut-chart(chart.parameters)

        .room-details__feedbacks
          .room-details__feedbacks-title
            h2 #{feedbacks.title}
            span #{feedbacks.quantity}
          each feedback in feedbacks.items
            .room-details__feedback.js-room-details__feedback
              +feedback(feedback)

        .room-details__rools
          .room-details__bullets
            h2.room-details__bullets-title #{bullets.title}
            each bullet in bullets.items
              .room-details__bullet
                +bullet(bullet)

          .room-details__cancellation
            h2.room-details__cancellation-title #{cancellation.title}
            p.room-details__cancellation-description #{cancellation.description}
      
      .room-details__sidebar.js-room-details__sidebar
        +receipt(receipt)
