mixin donut-chart(customConfig = {})
  - const blocks = require('@backend/Blocks.js');
  - const defaultConfig = require('@blocks/donut-chart/donut-chart.config.json');

  - const config = blocks.createConfig(defaultConfig, customConfig);
  - const { totalNumber, vocabulary, pieces } = config;
  - const { totalText } = vocabulary;

  .donut-chart
    svg.donut-chart__svg(width="100%", height="100%", viewBox="0 0 34 34")
      defs
        linearGradient(id="gradient1")
          stop(stop-color="#919191" offset="0%")
          stop(stop-color="#3D4975" offset="100%")
        linearGradient(id="gradient2")
          stop(stop-color="#BC9CFF" offset="0%")
          stop(stop-color="#8BA4F9" offset="100%")
        linearGradient(id="gradient3")
          stop(stop-color="#6FCF97" offset="0%")
          stop(stop-color="#66D2EA" offset="100%")
        linearGradient(id="gradient4")
          stop(stop-color="#FFE39C" offset="0%")
          stop(stop-color="#FFBA9C" offset="100%")

      circle(cx="17" cy="17" r="15.91549430918954" fill="transparent")

      - const defaultDashOffset = 25
      - let length = 0
      each piece in pieces
        - const { value, color } = piece;
        - const pieceSize = value / totalNumber * 100 - 1;
        - const dashArray = `${pieceSize} ${100 - pieceSize}`
        - const dashOffset = defaultDashOffset - length
        - length += pieceSize + 1
        if (value !== 0)
          circle(cx="17" cy="17" r="15.91549430918954" fill="transparent" stroke=color stroke-width="1" stroke-dasharray=dashArray stroke-dashoffset=dashOffset)
      
      g.donut-chart__total
        text.donut-chart__total-number(x="50%", y="50%") #{totalNumber}
        text.donut-chart__total-text(x="50%", y="50%") #{totalText}
        
    .donut-chart__description
      each piece in pieces
        - const { colorHex, label } = piece;
        .donut-chart__description-line
          .donut-chart__description-color(style=`background: ${colorHex}`)
          p.donut-chart__description-label #{label}
