mixin date-dropdown(name_1, title_1, value1, name_2, title_2, value2)
  .date-dropdown
    .date-dropdown__wrapper
      h3.date-dropdown__title= title_1
      input.date-dropdown__input(type="date" name=name_1 value=value1)
      i.material-icons.date-dropdown__expand-more expand_more
    .date-dropdown__wrapper
      h3.date-dropdown__title= title_2
      input.date-dropdown__input(type="date" name=name_2 value=value2)
      i.material-icons.date-dropdown__expand-more expand_more
    