include ../calendar/calendar.pug 

mixin date-dropdown(customConfig = {})
  - let blocks = require('@plugins/blocks.js');
  - let defaultConfig = require('@blocks/date-dropdown/date-dropdown.config.json');
  - let config = blocks.createConfig(defaultConfig, customConfig);

  .date-dropdown
    .date-dropdown__wrapper
      h3.date-dropdown__title #{config.dropdown1.title}
      input.date-dropdown__input.js-date-dropdown__arrival-date(type="date" name=config.dropdown1.name value=config.dropdown1.value readonly)
      i.material-icons.date-dropdown__expand-more #{config.dropdown1.icon}
    .date-dropdown__wrapper
      h3.date-dropdown__title #{config.dropdown2.title}
      input.date-dropdown__input.js-date-dropdown__leaving-date(type="date" name=config.dropdown2.name value=config.dropdown2.value readonly)
      i.material-icons.date-dropdown__expand-more #{config.dropdown1.icon}

    .date-dropdown__calendar
      +calendar()
