mixin date-dropdown(parameters = {title_1: 'dropdown', title_2: 'dropdown'})
  .date-dropdown
    .date-dropdown__wrapper
      h3.date-dropdown__title= parameters.title_1
      input.date-dropdown__input(type="date" name=parameters.name_1 value=parameters.value1)
      i.material-icons.date-dropdown__expand-more expand_more
    .date-dropdown__wrapper
      h3.date-dropdown__title= parameters.title_2
      input.date-dropdown__input(type="date" name=parameters.name_2 value=parameters.value2)
      i.material-icons.date-dropdown__expand-more expand_more
    