include ../calendar/calendar 

mixin date-dropdown(customConfig = {})
  - const blocks = require('@backend/Blocks.js');
  - const defaultConfig = require('@blocks/date-dropdown/date-dropdown.config.json');

  - const config = blocks.createConfig(defaultConfig, customConfig);
  - const { arrivalDate, leavingDate } = config;

  .date-dropdown.js-date-dropdown

    .date-dropdown__field.js-date-dropdown__field
      h3.date-dropdown__title #{arrivalDate.title}
      i.material-icons.date-dropdown__expand-more #{arrivalDate.icon}
      input.date-dropdown__input.js-date-dropdown__input(type="date" name="arrivalDate" value=arrivalDate.value readonly)
    
    .date-dropdown__field.js-date-dropdown__field
      h3.date-dropdown__title #{leavingDate.title}
      i.material-icons.date-dropdown__expand-more #{leavingDate.icon}
      input.date-dropdown__input.js-date-dropdown__input(type="date" name="leavingDate" value=leavingDate.value readonly)

    .date-dropdown__calendar.js-date-dropdown__calendar
      +calendar()
