extends ../../layout/landing 

include ../../common.blocks/header/header 
include ../../common.blocks/footer/footer 
include ../../common.blocks/receipt/receipt 
include ../../common.blocks/benefit/benefit 
include ../../common.blocks/donut-chart/donut-chart 
include ../../common.blocks/feedback/feedback 
include ../../common.blocks/bullet/bullet 

block variables
  - var pageTitle = 'Room details';
  - var pageDescription = 'Room details';
  - var pageClass = '';

block styles
  link(rel="stylesheet" href="assets/css/roomDetails.css")

block scripts
  script(type="text/javascript" src="assets/js/roomDetails.js")

block header
  +header()

block footer
  +footer()

block content
  - let data = require("./room_details.data.json");
  - let coverPhotoAlt = data.gallery.coverPhoto.alt || data.gallery.coverPhoto.src;
  - let miniImage1Alt = data.gallery.miniImages[0].alt || data.gallery.miniImages[0].src;
  - let miniImage2Alt = data.gallery.miniImages[1].alt || data.gallery.miniImages[1].src;

  .room-details
    .room-details__gallery
      .room-details__cover-wrapper
        img.room-details__cover-image.js-room-details__cover-image(src=data.gallery.coverPhoto.src, alt=coverPhotoAlt)
      .room-details__mini-images
        .room-details__mini-image-wrapper
          img.room-details__mini-image.js-room-details__mini-image(src=data.gallery.miniImages[0].src, alt=miniImage1Alt)
        .room-details__mini-image-wrapper
          img.room-details__mini-image.js-room-details__mini-image(src=data.gallery.miniImages[1].src, alt=miniImage2Alt)

    .room-details__description
      .room-details__content
        .room-details__first-row
          .room-details__information
            h2.room-detail__information-title #{data.information.title}
            each benefit in data.information.benefits
              .room-details__benefit
                +benefit(benefit)

          .room-details__donut-chart
            h2.room-details__donut-chart-title #{data.chart.title}
            .room-details__chart
              +donut-chart(data.chart.parameters)

        .room-details__feedbacks
          h2.room-details__feedback-title #{data.feedbacks.title}
          each feedback in data.feedbacks.items
            .room-details__feedback
              +feedback(feedback)

        .room-details__rools
          .room-details__bullets
            h2.room-details__bullets-title #{data.bullets.title}
            each bullet in data.bullets.items
              .room-details__bullet
                +bullet(bullet)

          .room-details__cancellation
            h2.room-details__cancellation-title #{data.cancellation.title}
            p.room-details__cancellation-description #{data.cancellation.description}
      
      .room-details__sidebar
        +receipt(data.receipt)