mixin dropdown-option(customConfig = {})
  - const blocks = require('@backend/Blocks.js');
  - const defaultConfig = require('@blocks/dropdown-option/dropdown-option.config.json');
  - const classes = require('@blocks/dropdown-option/dropdown-option.classes.json');

  - const config = blocks.createConfig(defaultConfig, customConfig);
  - const { value, name, label, wordForms, countedSeparately } = config;

  li(class = `${classes.root} js-${classes.root}` data-word-forms=wordForms data-counted-separately=`${countedSeparately}`)
    h3 #{label}
    div(class = classes.number)
      button(class = `${classes.button} js-${classes.button}` type="button" name="decreaseButton" disabled=(value === 0)) -
      input(class = `${classes.input} js-${classes.input}` type="number" name=name value=value readonly)
      button(class = `${classes.button} js-${classes.button}` type="button" name="increaseButton") +
