mixin dropdown-option(customConfig = {})
  - const blocks = require('@backend/Blocks.js');
  - const defaultConfig = require('@blocks/dropdown-option/dropdown-option.config.json');

  - const config = blocks.createConfig(defaultConfig, customConfig);
  - const { value, name, label, wordForms, countedSeparately } = config;
  - const decreaseButtonDisabled = (value === 0);

  li.dropdown-option.js-dropdown-option(data-word-forms=wordForms data-counted-separately=`${countedSeparately}`)
    h3 #{label}
    .dropdown-option__number
      button.dropdown-option__button.js-dropdown-option__button(type="button" disabled=decreaseButtonDisabled name="decreaseButton") -
      input.dropdown-option__input.js-dropdown-option__input(type="number" name=name value=value readonly)
      button.dropdown-option__button.js-dropdown-option__button(type="button" name="increaseButton") +