include drop-down__option.pug

mixin drop-down(customConfig = {})
  - var blocks = require('@plugins/blocks.js');
  - var defaultConfig = require('@blocks/drop-down/drop-down.config.json');
  - var config = blocks.createConfig(defaultConfig, customConfig);

  .drop-down(display_type=config.display_type)

    h3.drop-down__title #{config.title}
    
    .drop-down__field
      input.drop-down__field-input(value=config.default_value forms=config.value_forms disabled)
      i.material-icons.drop-down__expand-more #{config.icon}

    .drop-down__list
      if config.options
        each option in config.options
          +drop-down__option(option)
        .drop-down__submit-area
          if config.display_clear_button
            button.button.button_no-background.button_color_grey.js-drop-down__clear-button #{config.vocabulary.clear}
          if config.display_submit_button
            button.button.button_no-background #{config.vocabulary.submit}