include drop-down__option.pug

mixin drop-down(custom_parameters = {})
  - var blocks = require('../../js/plugins/blocks.js');
  - var default_parameters = require('../../common.blocks/drop-down/drop-down.config.json');
  - var parameters = blocks.mergeConfig(default_parameters, custom_parameters);

  .drop-down(display_type=parameters.display_type)

    h3.drop-down__title= parameters.title
    
    .drop-down__field
      input.drop-down__field-input(value=parameters.default_value forms=parameters.value_forms disabled)
      i.material-icons.drop-down__expand-more #{parameters.icon}

    .drop-down__list
      if parameters.options
        each option in parameters.options
          +drop-down__option(option)
        .drop-down__submit-area
          if parameters.display_clear_button
            button.button.button_no-background.button_color_grey.js-drop-down__clear-button #{parameters.vocabulary.clear}
          if parameters.display_submit_button
            button.button.button_no-background #{parameters.vocabulary.submit}