include ../text-field/text-field.pug 
include ../radio-button/radio-button.pug 
include ../masked-text-field/masked-text-field.pug 
include ../toggle/toggle.pug 
include ../button/button.pug 

mixin registration-form(customConfig = {})
  - const blocks = require('@backend/Blocks.js');
  - const defaultConfig = require('@blocks/registration-form/registration-form.config.json');

  - const config = blocks.createConfig(defaultConfig, customConfig);
  - const { method, action, vocabulary, textFields, gender, birthDate, offers, buttons } = config;
  - const { title, subtitle, loginText } = vocabulary;

  form.registration-form(method=method action=action)
    h1.registration-form__title #{title}

    .registration-form__field
      +text-field(textFields[0])
    .registration-form__field
      +text-field(textFields[1])

    .registration-form__gender
      .registration-form__gender-radio-button
        +radio-button(gender[0])
      .registration-form__gender-radio-button
        +radio-button(gender[1])

    .registration-form__birth-date
      +masked-text-field(birthDate)

    .registration-form__subtitle
      h3 #{subtitle}

    .registration-form__field
      +text-field(textFields[2])
    .registration-form__field
      +text-field(textFields[3])
    .registration-form__field
      +toggle(offers)

    .registration-form__submit
      +button(buttons[0])

    .registration-form__login
      p #{loginText}
      .registration-form__login-button
        +button(buttons[1])
