include ../text-field/text-field.pug 
include ../radio-button/radio-button.pug 
include ../masked-text-field/masked-text-field.pug 
include ../toggle/toggle.pug 
include ../button/button.pug 

mixin registration-form(customConfig = {})
  - let blocks = require('@backend/Blocks.js');
  - let defaultConfig = require('@blocks/registration-form/registration-form.config.json');
  - let config = blocks.createConfig(defaultConfig, customConfig);

  form.registration-form(method=config.method action=config.action)
    h1.registration-form__title #{config.vocabulary.title}

    .registration-form__field
      +text-field(config.textfields[0])
    .registration-form__field
      +text-field(config.textfields[1])

    .registration-form__gender
      .registration-form__gender-radio-button
        +radio-button(config.gender[0])
      .registration-form__gender-radio-button
        +radio-button(config.gender[1])

    .registration-form__birth-date
      +masked-text-field(config.birthDate)

    .registration-form__subtitle
      h3 #{config.vocabulary.subtitle}

    .registration-form__field
      +text-field(config.textfields[2])
    .registration-form__field
      +text-field(config.textfields[3])
    .registration-form__field
      +toggle(config.offers)

    .registration-form__submit
      +button(config.buttons[0])

    .registration-form__login
      p #{config.vocabulary.loginText}
      .registration-form__login-button
        +button(config.buttons[1])
