include ../date-dropdown/date-dropdown.pug 
include ../drop-down/drop-down.pug 
include ../button/button.pug

mixin receipt(customConfig = {})
  - let blocks = require('@plugins/blocks.js');
  - let defaultConfig = require('@blocks/receipt/receipt.config.json');
  - let config = blocks.createConfig(defaultConfig, customConfig);

  form.receipt(method=config.method action=config.action)

    .receipt__title
      h2.receipt__title-number
        span.receipt__title-number-sign #{config.vocabulary.number_sign}
        |#{config.suite_number}
        if config.is_luxury
          span.receipt__title-lux #{config.vocabulary.lux}
      p.receipt__title-price
        |#{config.price_per_period}#{config.vocabulary.currency_sign}
        span #{config.vocabulary.period}

    .receipt__dates
      +date-dropdown(config.dates_parameters)

    .receipt__guests
      +drop-down(config.guests_parameters)

    .receipt__costs
      if config.costs
        each cost in config.costs
          .receipt__cost
            .receipt__cost-title #{cost.title}
            .receipt__cost-price #{cost.price}#{config.vocabulary.currency_sign}

    h2.receipt__total
      .receipt__total-word #{config.vocabulary.total}
      .receipt__total-dots
      .receipt__total-number #{config.total_price}#{config.vocabulary.currency_sign}

    .receipt__submit
      +button(config.button)
