include ../date-dropdown/date-dropdown.pug 
include ../drop-down/drop-down.pug 
include ../button/button.pug

mixin receipt(custom_parameters = {})
  - const blocks = require('@plugins/blocks.js');
  - var default_parameters = require('@blocks/receipt/receipt.config.json');
  - var parameters = blocks.mergeConfig(default_parameters, custom_parameters);

  .receipt

    .receipt__title
      h2.receipt__title-number
        span.receipt__title-number-sign #{parameters.vocabulary.number_sign}
        |#{parameters.suite_number}
        if parameters.is_luxury
          span.receipt__title-lux #{parameters.vocabulary.lux}
      p.receipt__title-price
        |#{parameters.price_per_period}#{parameters.vocabulary.currency_sign}
        span #{parameters.vocabulary.period}

    .receipt__dates
      +date-dropdown(parameters.dates_parameters)

    .receipt__guests
      +drop-down(parameters.guests_parameters)

    .receipt__costs
      if parameters.costs
        each cost in parameters.costs
          .receipt__cost
            .receipt__cost-title #{cost.title}
            .receipt__cost-price #{cost.price}#{parameters.vocabulary.currency_sign}

    h2.receipt__total
      .receipt__total-word #{parameters.vocabulary.total}
      .receipt__total-dots
      .receipt__total-number #{parameters.total_price}#{parameters.vocabulary.currency_sign}

    .receipt__submit
      +button(parameters.vocabulary.button_value, 'size_l')
