include ../date-dropdown/date-dropdown.pug 
include ../dropdown/dropdown.pug 
include ../button/button.pug

mixin receipt(customConfig = {})
  - const blocks = require('@backend/Blocks.js');
  - const defaultConfig = require('@blocks/receipt/receipt.config.json');
  - const classes = require('@blocks/receipt/receipt.classes.json');

  - const config = blocks.createConfig(defaultConfig, customConfig);
  - 
    const { 
      method, 
      action, 
      suiteNumber, 
      isLuxury, 
      pricePerPeriod, 
      totalPeriod, 
      vocabulary, 
      datesParameters, 
      guestsParameters, 
      discount,
      extraCosts,
      button 
    } = config;
  - const { numberSign, lux, currencySign, period, total, buttonValue } = vocabulary;

  form(class = classes.root method=method action=action)

    div(class = classes.title)
      h2(class = classes.suiteNumber)
        span(class = classes.suiteNumberSymbol) #{numberSign}
        |#{suiteNumber}
        if isLuxury
          span(class = classes.suiteNumberLux) #{lux}
      p(class = `${classes.pricePerNight} js-${classes.pricePerNight}`)
        |#{pricePerPeriod}#{currencySign}
        span #{period}

    div(class = classes.dates)
      +date-dropdown(datesParameters)

    div(class = classes.guests)
      +dropdown(guestsParameters)

    div(class = classes.costs)
      +receipt-cost(config, classes, 'cost', '', '')
      +receipt-cost(config, classes, 'discount', discount.title, discount.value, true)
      +receipt-cost(config, classes, 'extraCost', extraCosts.title, extraCosts.value, true)

    h2(class = classes.total)
      div(class = classes.totalWord) #{total}
      div(class = classes.totalDots)
      div(class = `${classes.totalPrice} js-${classes.totalPrice}`) #{total_price}#{currencySign}

    div(class = classes.submitButton)
      +button(button)


mixin receipt-cost(config, classes, costType, title, value, hasIcon = false)
  - const { currencySign } = config.vocabulary;

  div(class = classes.cost)
    div(class = `${classes.costTitle} js-${classes.costTitle}` data-cost-type=costType) #{title}
    if hasIcon
      div(class = classes.costIconWrapper)
        div(class = classes.costIcon) i
    div(class = `${classes.costValue} js-${classes.costValue}` data-cost-type=costType) #{value}#{currencySign}
