include ../date-dropdown/date-dropdown.pug 
include ../dropdown/dropdown.pug 
include ../button/button.pug

mixin receipt(customConfig = {})
  - const blocks = require('@backend/Blocks.js');
  - const defaultConfig = require('@blocks/receipt/receipt.config.json');

  - const config = blocks.createConfig(defaultConfig, customConfig);
  - 
    const { 
      method, 
      action, 
      suiteNumber, 
      isLuxury, 
      pricePerPeriod, 
      totalPeriod, 
      vocabulary, 
      datesParameters, 
      guestsParameters, 
      discount,
      extraCosts,
      button 
    } = config;
  - const { numberSign, lux, currencySign, period, total, buttonValue } = vocabulary;

  form.receipt.js-receipt(method=method action=action)

    .receipt__title
      h2.receipt__title-number
        span.receipt__title-number-sign #{numberSign}
        |#{suiteNumber}
        if isLuxury
          span.receipt__title-lux #{lux}
      p.receipt__title-price.js-receipt__title-price
        |#{pricePerPeriod}#{currencySign}
        span #{period}

    .receipt__dates
      +date-dropdown(datesParameters)

    .receipt__guests
      +dropdown(guestsParameters)

    .receipt__costs
      .receipt__cost
        .receipt__cost-title.js-receipt__cost-title(data-cost-type="cost")
        .receipt__cost-value.js-receipt__cost-value(data-cost-type="cost")
      .receipt__cost
        .receipt__cost-title.js-receipt__cost-title(data-cost-type="discount") #{discount.title}
        .receipt__cost-icon-wrapper
          .receipt__cost-icon i
        .receipt__cost-value.js-receipt__cost-value(data-cost-type="discount") #{discount.value}#{currencySign}
      .receipt__cost
        .receipt__cost-title.js-receipt__cost-title(data-cost-type="extraCost") #{extraCosts.title}
        .receipt__cost-icon-wrapper
          .receipt__cost-icon i
        .receipt__cost-value.js-receipt__cost-value(data-cost-type="extraCost") #{extraCosts.value}#{currencySign}

    h2.receipt__total
      .receipt__total-word #{total}
      .receipt__total-dots
      .receipt__total-number.js-receipt__total-number #{total_price}#{currencySign}

    .receipt__submit
      +button(button)
