mixin range-slider(customConfig = {})
  - const blocks = require('@backend/Blocks.js');
  - const defaultConfig = require('@blocks/range-slider/range-slider.config.json');
  - const classes = require('@blocks/range-slider/range-slider.classes.json');

  - const config = blocks.createConfig(defaultConfig, customConfig);
  - const { title, firstValue, secondValue, firstValueName, secondValueName } = config;

  div(class = classes.root)
    div(class = classes.header)
      h3(class = classes.title) #{title}
      div(class = `${classes.range} js-${classes.range}`)
      input(name=firstValueName value=firstValue type="number" hidden)
      input(name=secondValueName value=secondValue type="number" hidden)
    div(class = `${classes.line} js-${classes.line}`)
