extends ../../layout/landing

include ../../common.blocks/logo/logo 
include ../../common.blocks/text-field/text-field 
include ../../common.blocks/dropdown/dropdown 
include ../../common.blocks/masked-text-field/masked-text-field 
include ../../common.blocks/date-dropdown/date-dropdown 
include ../../common.blocks/filter-date-dropdown/filter-date-dropdown 
include ../../common.blocks/subscription-text-field/subscription-text-field 
include ../../common.blocks/expandable-checkbox-list/expandable-checkbox-list 

include ../../common.blocks/checkbox-button/checkbox-button 
include ../../common.blocks/radio-button/radio-button 
include ../../common.blocks/toggle/toggle 
include ../../common.blocks/like-button/like-button 
include ../../common.blocks/rate-button/rate-button 
include ../../common.blocks/checkbox-button-rich/checkbox-button-rich 

include ../../common.blocks/range-slider/range-slider  
include ../../common.blocks/button/button 
include ../../common.blocks/pagination/pagination 
include ../../common.blocks/bullet/bullet 

include ../../common.blocks/benefit/benefit 
include ../../common.blocks/feedback/feedback 

block variables
  - const data = require('./form-elements.data.json');
  - const classes = require('./form-elements.classes.json');
  - const pageTitle = 'Form Elements';
  - const pageDescription = 'Form Elements';
  - const pageClasses = `${classes.formElements} js-${classes.formElements}`;
  - 
    const { 
      textfields, 
      dropdownGuests, 
      maskedTextField, 
      dateDropdown,
      filterDateDropdown,
      subscription,
      dropdownAmenities,
      expandableCheckboxList,
      checkboxButtons,
      radioButtons,
      toggles,
      likeButtons,
      rateButtons,
      richCheckboxButtons,
      buttons,
      pagination,
      bulletList,
      benefits,
      feedback
    } = data;

block styles
  link(rel="stylesheet" href="assets/css/formElements.css")

block scripts
  script(type="text/javascript" src="assets/js/formElements.js")

block header
  .form-elements__logo
    +logo_blank()

block content
  .form-elements__content
    section.form-elements__column
      
      .form-elements__text-field
        +text-field(textfields[0])

      .form-elements__text-field-hover
        +text-field(textfields[1])

      div(class = `${classes.guestsDropdown} js-${classes.guestsDropdown}`)
        +dropdown(dropdownGuests)

      .form-elements__masked-text-field
        +masked-text-field(maskedTextField)

      div(class = `${classes.dateDropdown} js-${classes.dateDropdown}`)
        +date-dropdown(dateDropdown)

      div(class = `${classes.filterDateDropdown} js-${classes.filterDateDropdown}`)
        +filter-date-dropdown(filterDateDropdown)

      .form-elements__subscription-text-field
        h3.form-elements__subscription-title #{subscription.title}
        +subscription-text-field()

    section.form-elements__column
      .form-elements__checkbox-buttons
        h3.form-elements__checkbox-buttons-title #{checkboxButtons.title}
        each item in checkboxButtons.items
          .form-elements__checkbox-button
            +checkbox-button(item)

      .form-elements__radio-buttons
        h3.form-elements__radio-buttons-title #{radioButtons.title}
        .form-elements__radio-buttons-container
          each item in radioButtons.items
            .form-elements__radio-button
              +radio-button(item)

      .form-elements__toggle
        h3.form-elements__toggle-title #{toggles.title}
        each item in toggles.items
          .form-elements__toggle-item
            +toggle(item)

      .form-elements__like-buttons
        h3.form-elements__like-buttons-title #{likeButtons.title}
        .form-elements__like-buttons-container
          each item in likeButtons.items
            form(class = `${classes.likeButton} js-${classes.likeButton}`)
              +like-button(item)

      .form-elements__rate-buttons
        h3.form-elements__rate-buttons-title #{rateButtons.title}
        .form-elements__rate-buttons-container
          each item in rateButtons.items
            form(class = `${classes.rateButton} js-${classes.rateButton}`)
              +rate-button(item)

    section.form-elements__column
      div(class = `${classes.rangeSlider} js-${classes.rangeSlider}`)
        +range-slider(slider)

      .form-elements__buttons
        h3.form-elements__buttons-title #{buttons.title}
        .form-elements__buttons-line.form-elements__buttons-line_first
          .form-elements__button
            +button(buttons.items[0])
          .form-elements__button
            +button(buttons.items[1])
        .form-elements__buttons-line
          .form-elements__button
            +button(buttons.items[2])
          .form-elements__button
            +button(buttons.items[3])
        .form-elements__buttons-line
          .form-elements__button.form-elements__button_empty
            +button(buttons.items[4])
          .form-elements__button.form-elements__button_empty
            +button(buttons.items[5])
        .form-elements__buttons-line
          .form-elements__button.form-elements__button_size_l
            +button(buttons.items[6])

      .form-elements__pagination
        h3.form-elements__pagination-title #{pagination.title}
        +pagination()

    section.form-elements__column
      div(class = `${classes.dropdownDefault} js-${classes.dropdownDefault}`)
        +dropdown(dropdownAmenities)

      div(class = `${classes.dropdownExpanded} js-${classes.dropdownExpanded}`)
        +dropdown(dropdownAmenities)

    section.form-elements__column
      - dropdownGuests.display_submit_button = true;
      div(class = `${classes.dropdown4} js-${classes.dropdown4}`)
        +dropdown(dropdownGuests)

    section.form-elements__column
      - dropdownGuests.display_submit_button = true;
      div(class = `${classes.dropdown5} js-${classes.dropdown5}`)
        +dropdown(dropdownGuests)

    section.form-elements__column
      div(class = `${classes.expandableCheckboxList} js-${classes.expandableCheckboxList}`)
        +expandable-checkbox-list(expandableCheckboxList)

      - expandableCheckboxList.expanded = true

      div(class = `${classes.expandableCheckboxListExpanded} js-${classes.expandableCheckboxListExpanded}`)
        +expandable-checkbox-list(expandableCheckboxList)

    section.form-elements__column
      .form-elements__rich-checkbox-buttons
        h3.form-elements__rich-checkbox-buttons-title #{richCheckboxButtons.title}
        each item in richCheckboxButtons.items
          .form-elements__rich-checkbox-button
            +checkbox-button-rich(item)

    section.form-elements__column
      .form-elements__bullet-list
        h3.form-elements__bullet-list-title #{bulletList.title}
        each item in bulletList.items
          .form-elements__bullet
            +bullet(item)

    section.form-elements__column
      .form-elements__benefits
        each benefit in benefits
          .form-elements__benefit
            +benefit(benefit)

    section(class = `${classes.feedback} js-${classes.feedback}`)
      +feedback(feedback)
