extends ../../layout/landing

include ../../common.blocks/logo/logo 
include ../../common.blocks/text-field/text-field 
include ../../common.blocks/dropdown/dropdown 
include ../../common.blocks/masked-text-field/masked-text-field 
include ../../common.blocks/date-dropdown/date-dropdown 
include ../../common.blocks/filter-date-dropdown/filter-date-dropdown 
include ../../common.blocks/subscription-text-field/subscription-text-field 
include ../../common.blocks/expandable-checkbox-list/expandable-checkbox-list 

include ../../common.blocks/checkbox-button/checkbox-button 
include ../../common.blocks/radio-button/radio-button 
include ../../common.blocks/toggle/toggle 
include ../../common.blocks/like-button/like-button 
include ../../common.blocks/rate-button/rate-button 
include ../../common.blocks/checkbox-button-rich/checkbox-button-rich 

include ../../common.blocks/slider/slider  
include ../../common.blocks/button/button 
include ../../common.blocks/pagination/pagination 
include ../../common.blocks/bullet/bullet 

include ../../common.blocks/benefit/benefit 
include ../../common.blocks/feedback/feedback 

block variables
  - let pageTitle = 'Form Elements';
  - let pageDescription = 'Form Elements';
  - let data = require('./form-elements.data.json');

block styles
  link(rel="stylesheet" href="assets/css/formElements.css")

block scripts
  script(type="text/javascript" src="assets/js/formElements.js")

block header
  .form-elements__logo
    +logo_blank()

block content
  .form-elements
    section.form-elements__column
      
      .form-elements__text-field
        +text-field(data.textfields[0])

      .form-elements__text-field-hover
        +text-field(data.textfields[1])

      .form-elements__dropdown
        +drop-down(data.dropdownGuests)

      .form-elements__masked-text-field
        +masked-text-field(data.maskedTextField)

      .form-elements__date-dropdown
        +date-dropdown(data.dateDropDown)

      .form-elements__filter-date-dropdown
        +filter-date-dropdown(data.filterDateDropdown)

      .form-elements__subscription-text-field
        h3.form-elements__subscription-title #{data.subscription.title}
        +subscription-text-field()

    section.form-elements__column
      .form-elements__checkbox-buttons
        h3.form-elements__checkbox-buttons-title #{data.checkboxButtons.title}
        each item in data.checkboxButtons.items
          .form-elements__checkbox-button
            +checkbox-button(item)

      .form-elements__radio-buttons
        h3.form-elements__radio-buttons-title #{data.radioButtons.title}
        .form-elements__radio-buttons-container
          each item in data.radioButtons.items
            .form-elements__radio-button
              +radio-button(item)

      .form-elements__toggle
        h3.form-elements__toggle-title #{data.toggles.title}
        each item in data.toggles.items
          .form-elements__toggle-item
            +toggle(item)

      .form-elements__like-buttons
        h3.form-elements__like-buttons-title #{data.likeButtons.title}
        .form-elements__like-buttons-container
          each item in data.likeButtons.items
            form.form-elements__like-button
              +like-button(item)

      .form-elements__rate-buttons
        h3.form-elements__rate-buttons-title #{data.rateButtons.title}
        .form-elements__rate-buttons-container
          each item in data.rateButtons.items
            form.form-elements__rate-button
              +rate-button(item)

    section.form-elements__column
      .form-elements__slider
        +slider(data.slider)

      .form-elements__buttons
        h3.form-elements__buttons-title #{data.buttons.title}
        .form-elements__buttons-line.form-elements__buttons-line_first
          .form-elements__button
            +button(data.buttons.items[0])
          .form-elements__button
            +button(data.buttons.items[1])
        .form-elements__buttons-line
          .form-elements__button
            +button(data.buttons.items[2])
          .form-elements__button
            +button(data.buttons.items[3])
        .form-elements__buttons-line
          .form-elements__button.form-elements__button_empty
            +button(data.buttons.items[4])
          .form-elements__button.form-elements__button_empty
            +button(data.buttons.items[5])
        .form-elements__buttons-line
          .form-elements__button.form-elements__button_size_l
            +button(data.buttons.items[6])

      .form-elements__pagination
        h3.form-elements__pagination-title #{data.pagination.title}
        +pagination()

    section.form-elements__column
      .form-elements__dropdown-default 
        +drop-down(data.dropdownAmenities)

      .form-elements__dropdown-expanded
        +drop-down(data.dropdownAmenities)

    section.form-elements__column
      - data.dropdownGuests.display_submit_button = true;
      .form-elements__drop-down4
        +drop-down(data.dropdownGuests)

    section.form-elements__column
      - data.dropdownGuests.display_submit_button = true;
      .form-elements__drop-down5
        +drop-down(data.dropdownGuests)

    section.form-elements__column
      .form-elements__expandable-checkbox-list
        +expandable-checkbox-list(data.expandableCheckboxList)

      - data.expandableCheckboxList.expanded = true

      .form-elements__expandable-checkbox-list-expanded
        +expandable-checkbox-list(data.expandableCheckboxList)

    section.form-elements__column
      .form-elements__rich-checkbox-buttons
        h3.form-elements__rich-checkbox-buttons-title #{data.richCheckboxButtons.title}
        each item in data.richCheckboxButtons.items
          .form-elements__rich-checkbox-button
            +checkbox-button-rich(item)

    section.form-elements__column
      .form-elements__bullet-list
        h3.form-elements__bullet-list-title #{data.bulletList.title}
        each item in data.bulletList.items
          .form-elements__bullet
            +bullet(item)

    section.form-elements__column
      .form-elements__benefits
        each benefit in data.benefits
          .form-elements__benefit
            +benefit(benefit)

    section.form-elements__feedback
      +feedback(data.feedback)