include ../calendar/calendar.pug 

mixin filter-date-dropdown(customConfig = {})
  - const blocks = require('@backend/Blocks.js');
  - const defaultConfig = require('@blocks/filter-date-dropdown/filter-date-dropdown.config.json');
  - const classes = require('@blocks/filter-date-dropdown/filter-date-dropdown.classes.json');

  - const config = blocks.createConfig(defaultConfig, customConfig);
  - const { title, value, icon, arrivalDate, leavingDate } = config;

  div(class = classes.root)
    if (title)
      h3(class = classes.title) #{title}
    div(class = `${classes.field} js-${classes.field}`)
      input(class = `${classes.arrivalDateInput} js-${classes.arrivalDateInput}` type="date" name=arrivalDate.name value=arrivalDate.value)
      input(class = `${classes.leavingDateInput} js-${classes.leavingDateInput}` type="date" name=leavingDate.name value=leavingDate.value)
      input(class = `${classes.input} js-${classes.input}` type="text" name=name value=value readonly)
      i(class = `material-icons ${classes.icon}`) #{icon}
    
    div(class = `${classes.calendar} js-${classes.calendar}`)
      +calendar()
