mixin button(customConfig = {})
  - const blocks = require('@backend/Blocks.js');
  - const defaultConfig = require('@blocks/button/button.config.json');

  - const config = blocks.createConfig(defaultConfig, customConfig);
  - const { value, type: buttonType, style, href, disabled, icon, classes } = config;

  - let buttonClass = `button ${classes[style]}`;

  if type == "link"
    a(class=buttonClass href=href) #{value}
      if style == "sizeL"
        i.material-icons.button__arrow #{icon}
  else
    button(class=buttonClass type=buttonType disabled=disabled) #{value}
      if style == "sizeL"
        i.material-icons.button__arrow #{icon}
