mixin button(customConfig = {})
  - const blocks = require('@backend/Blocks.js');
  - const defaultConfig = require('@blocks/button/button.config.json');

  - const config = blocks.createConfig(defaultConfig, customConfig);
  - const { value, type: buttonType, style, href, disabled, isLow, icon, classes } = config;

  - const buttonClasses = `button ${isLow ? 'button_low' : ''} ${classes[style]}`;

  if buttonType === "link"
    a(class=buttonClasses href=href)
      span.button__label #{value}
        if style === "sizeL"
          i.material-icons.button__arrow #{icon}
  else
    button(class=buttonClasses type=buttonType disabled=disabled)
      span.button__label #{value}
        if style === "sizeL"
          i.material-icons.button__arrow #{icon}
