include ../like-button/like-button 

mixin feedback(customConfig = {})
  - const blocks = require('@backend/Blocks.js');
  - const defaultConfig = require('@blocks/feedback/feedback.config.json');

  - const config = blocks.createConfig(defaultConfig, customConfig);
  - const { name, img, likeButton, lastSeen, text } = config;
  - const imgAlt = img.alt ? img.alt : name;

  .feedback
    .feedback__image-container
      img.feedback__image(src=img.src alt=imgAlt)
      .feedback__like-button
        +like-button(likeButton)
    .feedback__text-container
      p.feedback__name #{name}
      p.feedback__last-seen #{lastSeen}
      p #{text}