mixin feedback(customConfig = {})
  - let blocks = require('@plugins/blocks.js');
  - let defaultConfig = require('@blocks/feedback/feedback.config.json');
  - let config = blocks.createConfig(defaultConfig, customConfig);
  - let imgAlt = config.img.alt ? config.img.alt : config.name;

  .feedback
    .feedback__image-container
      img.feedback__image(src=config.img.src alt=imgAlt)
      .feedback__like-button
        +like-button(config.likeButton)
    .feedback__text-container
      p.feedback__name #{config.name}
      p.feedback__last-seen #{config.lastSeen}
      p #{config.text}