mixin like-button(customConfig = {})
  - const blocks = require('@backend/Blocks.js');
  - const defaultConfig = require('@blocks/like-button/like-button.config.json');
  - const classes = require('@blocks/like-button/like-button.classes.json');

  - const config = blocks.createConfig(defaultConfig, customConfig);
  - const { value, name, liked, vocabulary } = config;
  - const { icon, iconLiked } = vocabulary;

  - const buttonClass = `${classes.root} js-${classes.root} ${liked ? classes.rootLiked : ''}`;
  - const iconClass = `material-icons ${classes.icon} js-${classes.icon} ${liked ? classes.iconLiked : ''}`;
  - const numberClass = `${classes.input} js-${classes.input} ${liked ? classes.inputLiked : ''}`;
  - const displayedIcon = liked ? iconLiked : icon;

  div(class=buttonClass) 
    i(class=iconClass) #{displayedIcon}
    input(class=numberClass type="number" name=name value=value readonly)
