mixin like-button(customConfig = {})
  - let blocks = require('@plugins/blocks.js');
  - let defaultConfig = require('@blocks/like-button/like-button.config.json');
  - let config = blocks.createConfig(defaultConfig, customConfig);
  
  if config.checked
    form.like-button.like-button_liked
      i.material-icons.like-button__icon.like-button__icon_liked #{config.iconChecked}
      input.like-button__number.like-button__number_liked(type="number" name=config.name value=config.value readonly)
  else
    form.like-button
      i.material-icons.like-button__icon #{config.icon}
      input.like-button__number(type="number" name=config.name value=config.value readonly)