mixin like-button(customConfig = {})
  - let blocks = require('@plugins/blocks.js');
  - let defaultConfig = require('@blocks/like-button/like-button.config.json');
  - let config = blocks.createConfig(defaultConfig, customConfig);

  - let buttonLikedClass = config.liked ? "like-button_liked" : "";
  - let iconLikedClass = config.liked ? "like-button__icon_liked" : "";
  - let icon = config.liked ? config.vocabulary.iconLiked : config.vocabulary.icon;

  label.like-button(class=buttonLikedClass) 
    i.material-icons.like-button__icon(class=iconLikedClass) #{icon}
    input.like-button__number(type="number" name=config.name value=config.value readonly)