mixin expandable-checkbox-list(customConfig = {})
  - const blocks = require('@backend/Blocks.js');
  - const defaultConfig = require('@blocks/expandable-checkbox-list/expandable-checkbox-list.config.json');
  - const classes = require('@blocks/expandable-checkbox-list/expandable-checkbox-list.classes.json')

  - const config = blocks.createConfig(defaultConfig, customConfig);
  - const { title, expanded, icon, checkboxButtons } = config;
  - const iconClass = `material-icons ${classes.icon} js-${classes.icon} ${expanded ? classes.iconExpanded : ''}`;
  
  div(class = classes.root)

    div(class = `${classes.field} js-${classes.field}`)
      h3(class = classes.title) #{title}
      i(class = iconClass) #{icon}    

    div(class = `${classes.list} js-${classes.list}`)
      if checkboxButtons
        each button in checkboxButtons
          div(class = classes.item)
            +checkbox-button(button)
