mixin masked-text-field(customConfig = {})
  - const blocks = require('@backend/Blocks.js');
  - const defaultConfig = require('@blocks/masked-text-field/masked-text-field.config.json');

  - const config = blocks.createConfig(defaultConfig, customConfig);
  - const { title, name, value, minValue, maxValue, required } = config;

  .masked-text-field
    if title
      h3.masked-text-field__title #{title}
    input.masked-text-field__input(type="date" name=name value=value min=minValue max=maxValue required=required)
