mixin masked-text-field(customConfig = {})
  - let blocks = require('@plugins/blocks.js');
  - let defaultConfig = require('@blocks/masked-text-field/masked-text-field.config.json');
  - let config = blocks.createConfig(defaultConfig, customConfig);

  .masked-text-field
    if config.title
      h3.masked-text-field__title #{config.title}
    input.masked-text-field__input(type="date" name=config.name value=config.value min=config.minValue max=config.maxValue required=config.required)