mixin text-field(customConfig = {})
  - let blocks = require('@backend/Blocks.js');
  - let defaultConfig = require('@blocks/text-field/text-field.config.json');
  - let config = blocks.createConfig(defaultConfig, customConfig);

  .text-field
    if config.title
      h3.text-field__title #{config.title}
    input.text-field__input(type=config.type name=config.name placeholder=config.placeholder value=config.value required=config.required)