mixin calendar(customConfig = {})
  - const blocks = require('@backend/Blocks.js');
  - const defaultConfig = require('@blocks/calendar/calendar.config.json');
  - const classes = require('@blocks/calendar/calendar.classes.json');

  - const config = blocks.createConfig(defaultConfig, customConfig);
  - const { vocabulary, clearButton, submitButton } = config;
  - const { arrowBack, arrowForward } = vocabulary;

  div(class = `${classes.root} js-${classes.root}`)
    div(class = classes.header)
      i(class = `material-icons ${classes.leftArrow} js-${classes.leftArrow}`) #{arrowBack}
      h2(class = `${classes.title} js-${classes.title}`)
      i(class = `material-icons ${classes.rightArrow} js-${classes.rightArrow}`) #{arrowForward}

    div(class = `${classes.tableContainer} js-${classes.tableContainer}`)
      
    div(class = classes.buttons)
      div(class = `${classes.clearButton} js-${classes.clearButton}`)
        +button(clearButton)
      div(class = `${classes.submitSutton} js-${classes.submitButton}`)
        +button(submitButton)
