include ../logo/logo 
include ../menu-icon/menu-icon 
include ../button/button 

mixin header(customConfig = {})
  - const blocks = require('@backend/Blocks.js');
  - const defaultConfig = require('@blocks/header/header.config.json');

  - const config = blocks.createConfig(defaultConfig, customConfig);
  - const { type, logoHref, vocabulary, menu, buttons, rightText } = config;
  - const { expandMoreIcon } = vocabulary;

  header.header
    .header__content

      a.header__logo(href=logoHref)
        +logo()

      label.header__sandwich-icon(for="header-menu-toggle")
        +menu-icon()

      input.header__sandwich-input(id="header-menu-toggle" type="checkbox")

      nav.header__menu
        each item in menu
          a.header__link(href=item.link) #{item.title}
            if item.submenu
              i.material-icons.header__menu-icon #{expandMoreIcon}
      
      if type == "buttons"
        .header__button
          +button(buttons[0])
        .header__button
          +button(buttons[1])
          
      else if type == "text"
        p.header__text #{rightText}
