extends ../../pug/layout/main

block variables
  - var title = 'Form Elements';
  - var description = 'Description for Webpack + Pug';
  - var pageClass = 'index-page';

block styles
  link(rel="stylesheet" href="/assets/css/formElements.css")

block scripts
  script(type="text/javascript" src="/assets/js/formElements.js")

include ../../common.blocks/logo/logo.pug 
include ../../common.blocks/text-field/text-field.pug 
include ../../common.blocks/drop-down/drop-down.pug 
include ../../common.blocks/masked-text-field/masked-text-field.pug 
include ../../common.blocks/date-dropdown/date-dropdown.pug
include ../../common.blocks/filter-date-dropdown/filter-date-dropdown.pug 
include ../../common.blocks/subscription-text-field/subscription-text-field.pug
include ../../common.blocks/expandable-checkbox-list/expandable-checkbox-list.pug
include ../../common.blocks/benefit/benefit.pug

include ../../common.blocks/checkbox-button/checkbox-button.pug
include ../../common.blocks/radio-button/radio-button.pug 
include ../../common.blocks/toggle/toggle.pug 
include ../../common.blocks/like-button/like-button.pug 
include ../../common.blocks/rate-button/rate-button.pug 
include ../../common.blocks/checkbox-button-rich/checkbox-button-rich.pug

include ../../common.blocks/button/button.pug 
include ../../common.blocks/pagination/pagination.pug
include ../../common.blocks/bullet/bullet.pug 
include ../../common.blocks/feedback/feedback.pug

block content
  - let data = require('./form_elements.data.json');

  .form-elements__logo
    +logo_blank()

  .form-elements__text-field
    +text-field(data.textfields[0])

  .form-elements__text-field-hover
    +text-field(data.textfields[1])
    
  .form-elements__drop-down
    +drop-down(data.dropdownGuests)

  .form-elements__masked-text-field
    +masked-text-field(data.maskedTextField)

  .form-elements__date-dropdown
    +date-dropdown(data.dateDropDown)

  .form-elements__filter-date-dropdown
    +filter-date-dropdown(data.filterDateDropdown)

  .form-elements__subscription-text-field
    +subscription-text-field

  .form-elements__drop-down-default 
    +drop-down(data.dropdownAmenities)

  .form-elements__drop-down-expanded
    +drop-down(data.dropdownAmenities)

  .form-elements__expandable-checkbox-list
    +expandable-checkbox-list(data.expandableCheckboxList)

  - data.expandableCheckboxList.expanded = true

  .form-elements__expandable-checkbox-list-expanded
    +expandable-checkbox-list(data.expandableCheckboxList)

  .form-elements__benefits
    each benefit in data.benefits
      +benefit(benefit)

  .form-elements__checkbox-buttons
    h3.form-elements__checkbox-buttons-title #{data.checkboxButtons.title}
    each button in data.checkboxButtons.buttons
      .form-elements__checkbox-button
        +checkbox-button(button)

  .form-elements__radio-buttons
    h3.form-elements__radio-buttons-title #{data.radioButtons.title}
    .form-elements__radio-buttons-container
      each button in data.radioButtons.buttons
        .form-elements__radio-button
          +radio-button(button)

  .form-elements__toggle
    h3.form-elements__toggle-title #{data.toggles.title}
    each item in data.toggles.items
      .form-elements__toggle-item
        +toggle(item)

  .form-elements__like-buttons
    h3.form-elements__like-buttons-title #{data.likeButtons.title}
    .form-elements__like-button
      each item in data.likeButtons.items
        .form-elements__like-button-item
          +like-button(item)

  .form-elements__rate-buttons
    h3.form-elements__rate-buttons-title #{data.rateButtons.title}
    .form-elements__rate-button
      each item in data.rateButtons.items
        .form-elements__rate-button-item
          +rate-button(item)

  - data.dropdownGuests.display_submit_button = true;
  .form-elements__drop-down4
    +drop-down(data.dropdownGuests)

  .form-elements__rich-checkbox-buttons
    h3.form-elements__rich-checkbox-buttons-title #{data.richCheckboxButtons.title}
    each item in data.richCheckboxButtons.items
      .form-elements__rich-checkbox-buttons-item
        +checkbox-button-rich(item)
    
  .form-elements__buttons
    h3.form-elements__buttons-title #{data.buttons.title}
    .form-elements__buttons-line.form-elements__buttons-line_first
      .form-elements__button
        +button(data.buttons.items[0])
      .form-elements__button
        +button(data.buttons.items[1])
    .form-elements__buttons-line
      .form-elements__button
        +button(data.buttons.items[2])
      .form-elements__button
        +button(data.buttons.items[3])
    .form-elements__buttons-line(style="margin-top: 31.5px")
      .form-elements__button.form-elements__button_empty
        +button(data.buttons.items[4])
      .form-elements__button.form-elements__button_empty
        +button(data.buttons.items[5])
    .form-elements__buttons-line
      .form-elements__button.form-elements__button_size_l
        +button(data.buttons.items[6])

  .form-elements__pagination
    h3.form-elements__pagination-title #{data.pagination.title}
    +pagination()

  .form-elements__bullet-list
    h3.form-elements__bullet-list-title #{data.bulletList.title}
    each item in data.bulletList.items
      .form-elements__bullet-list-item
        +bullet(item)


  .form-elements__feedback
    +feedback(data.feedback)