include ../text-field/text-field 
include ../filter-date-dropdown/filter-date-dropdown
include ../dropdown/dropdown 
include ../checkbox-button/checkbox-button 
include ../checkbox-button-rich/checkbox-button-rich 
include ../expandable-checkbox-list/expandable-checkbox-list 
include ../range-slider/range-slider

mixin sidebar(customConfig = {})
  - const blocks = require('@backend/Blocks.js');
  - const defaultConfig = require('@blocks/sidebar/sidebar.config.json');

  - const config = blocks.createConfig(defaultConfig, customConfig);
  - 
    const { 
      method, 
      action, 
      vocabulary, 
      dates, 
      guests, 
      slider, 
      checkboxButtons, 
      features, 
      amenities, 
      convinience 
    } = config;
  -  const { checkboxButtonTitle, featuresTitle } = vocabulary;

  form.sidebar(method=method action=action)
    .sidebar__dates
      +filter-date-dropdown(dates)

    .sidebar__guests
      +dropdown(guests)

    .sidebar__slider
      +range-slider(slider)
      .sidebar__slider-text #{slider.text}

    .sidebar__checkbox-buttons
      if checkboxButtons[0]
        h3.sidebar__checkbox-buttons-title #{checkboxButtonsTitle}
      each checkboxConfig in checkboxButtons
        .sidebar__checkbox-button
          +checkbox-button(checkboxConfig)

    .sidebar__features
      if features[0]
        h3.sidebar__features-title #{featuresTitle}
      each featureConfig in features
        .sidebar__feature
          +checkbox-button-rich(featureConfig)

    .sidebar__amenities
      +dropdown(amenities)

    .sidebar__convinience
      +expandable-checkbox-list(convinience)
      