include ../text-field/text-field 
include ../filter-date-dropdown/filter-date-dropdown
include ../dropdown/dropdown 
include ../checkbox-button/checkbox-button 
include ../checkbox-button-rich/checkbox-button-rich 
include ../expandable-checkbox-list/expandable-checkbox-list 
include ../range-slider/range-slider

mixin sidebar(customConfig = {})
  - const blocks = require('@backend/Blocks.js');
  - const defaultConfig = require('@blocks/sidebar/sidebar.config.json');
  - const classes = require('@blocks/sidebar/sidebar.classes.json');

  - const config = blocks.createConfig(defaultConfig, customConfig);
  - 
    const { 
      method, 
      action, 
      vocabulary, 
      dates, 
      guests, 
      slider, 
      checkboxButtons, 
      features, 
      amenities, 
      convinience 
    } = config;
  -  const { checkboxButtonsTitle, featuresTitle } = vocabulary;

  form(class = classes.root method=method action=action)
    div(class = `${classes.dates} js-${classes.dates}`)
      +filter-date-dropdown(dates)

    div(class = `${classes.guests} js-${classes.guests}`)
      +dropdown(guests)

    div(class = `${classes.slider} js-${classes.slider}`)
      +range-slider(slider)
      div(class = classes.sliderText) #{slider.text}

    div(class = classes.checkboxButtons)
      if checkboxButtons[0]
        h3(class = classes.checkboxButtonsTitle) #{checkboxButtonsTitle}
      each checkboxConfig in checkboxButtons
        div(class = classes.checkboxButton)
          +checkbox-button(checkboxConfig)

    div(class = classes.features)
      if features[0]
        h3(class = classes.featuresTitle) #{featuresTitle}
      each featureConfig in features
        div(class = classes.feature)
          +checkbox-button-rich(featureConfig)

    div(class = `${classes.amenities} js-${classes.amenities}`)
      +dropdown(amenities)

    div(class = `${classes.convinience} js-${classes.convinience}`)
      +expandable-checkbox-list(convinience)
      