include ../dropdown-option/dropdown-option  
include ../button/button 

mixin dropdown(customConfig = {})
  - let blocks = require('@backend/Blocks.js');
  - let defaultConfig = require('@blocks/dropdown/dropdown.config.json');
  - let config = blocks.createConfig(defaultConfig, customConfig);
  - let submitAreaClass = config.displayType === "values" ? "dropdown__submit-area_hidden": "";

  .dropdown.js-dropdown(display_type=config.displayType)

    h3.dropdown__title #{config.title}
    
    .dropdown__field.js-dropdown__field
      input.dropdown__field-input.js-dropdown__field-input(value=config.defaultValue forms=config.valueForms disabled)
      i.material-icons.dropdown__expand-more.js-dropdown__expand-more #{config.icon}

    ul.dropdown__list.js-dropdown__list
      if config.options
        each option in config.options
          +dropdown-option(option)

      .dropdown__submit-area(class=submitAreaClass)
        .dropdown__button-wrapper.js-dropdown__clear-button
          +button(config.clearButton)
        .dropdown__button-wrapper.js-dropdown__submit-button
          +button(config.submitButton)