include ../dropdown-option/dropdown-option  
include ../button/button 

mixin dropdown(customConfig = {})
  - const blocks = require('@backend/Blocks.js');
  - const defaultConfig = require('@blocks/dropdown/dropdown.config.json');
  - const classes = require('@blocks/dropdown/dropdown.classes.json');

  - const config = blocks.createConfig(defaultConfig, customConfig);
  - const { title, displayType, icon, defaultValue, value, valueForms, options, clearButton, submitButton } = config;
  - const submitAreaClasses = `${classes.submitArea} ${displayType === 'values' ? classes.submitAreaHidden : ''}`

  div(class = `${classes.root} js-${classes.root}` data-display-type=displayType)

    h3(class = classes.title) #{title}
    
    div(class = `${classes.field} js-${classes.field}`)
      input(class = `${classes.input} js-${classes.input}` value=defaultValue data-word-forms=valueForms disabled)
      i(class = `material-icons ${classes.icon}`) #{icon}

    ul(class = `${classes.list} js-${classes.list}`)
      if options
        each option in options
          div(class = `${classes.optionContainer} js-${classes.optionContainer}`)
            +dropdown-option(option)

      div(class=submitAreaClasses)
        div(class = `${classes.button} js-${classes.button}` data-button-type="clearButton")
          +button(clearButton)
        div(class = `${classes.button} js-${classes.button}` data-button-type="submitButton")
          +button(submitButton)
