include ../logo/logo.pug 
include ../subscription-text-field/subscription-text-field.pug 
include ../socials/socials.pug 

mixin footer(customConfig = {})
  - const blocks = require('@backend/Blocks.js');
  - const defaultConfig = require('@blocks/footer/footer.config.json');

  - const config = blocks.createConfig(defaultConfig, customConfig);
  - const { type, logoHref, vocabulary, columns, subscriptionField, bottom } = config;
  - const { description, subscriptionTitle, subscriptionDesc } = vocabulary;
  - const { copyright, socials } = bottom;

  footer.footer
    if type == "full"
      .footer__inner-wrapper
        
        .footer__first-column
          a.footer__logo(href=logoHref)
            +logo()
          p.footer__description #{description}
          
        each column in columns
          .footer__column
            nav
              each link in column
                a.footer__link(href=link.link) #{link.title}

        .footer__last-column
          h3 #{subscriptionTitle}
          p.footer__last-column-desc #{subscriptionDesc}
          .footer__subscription-text-field
            +subscription-text-field(subscriptionField)

      .footer__bottom-wrapper
        .footer__bottom-part
          p #{copyright}
          .footer__social
            each icon in socials
              a.footer__icon(href=icon.link target="_blank", rel="noopener noreferrer")
                +socials(icon.name)

    else if type == "light"
      .footer__inner-wrapper
        
        .footer__single-column
          a.footer__logo(href=logoHref)
            +logo()
          p.footer__single-column-desc #{vocabulary.description}
          .footer__single-column-social
            each icon in bottom.socials
              a.footer__icon(href=icon.link target="_blank", rel="noopener noreferrer")
                +socials(icon.name)
