include ../rate-button/rate-button.pug 

mixin suite(customConfig = {})
  - let blocks = require('@plugins/blocks.js');
  - let defaultConfig = require('@blocks/suite/suite.config.json');
  - let config = blocks.createConfig(defaultConfig, customConfig);

  .suite

    form.suite__gallery
      i.material-icons.suite__arrow.suite__left-arrow #{config.vocabulary.arrowIcon}
      i.material-icons.suite__arrow.suite__right-arrow #{config.vocabulary.arrowIcon}
      each image, index in config.images
        label
          input.suite__image-input(type="radio" name="image-gallery" checked=image.checked value=index)
          .suite__image(style=`background-image: url(${image.link})`)
          .suite__dot(style=`right: ${(Number.parseInt(index)+1)*11.25+3}px`)

    .suite__description

      .suite__title
        h2.suite__title-number
          span.suite__title-number-sign #{config.vocabulary.numberSign}
          |#{config.suiteNumber}
          span.suite__title-lux #{config.vocabulary.luxury}
        p.suite__title-price
          |#{config.price}#{config.vocabulary.currencySign}
          span #{config.vocabulary.period}
      
      .suite__rate
        +rate-button(config.rating)
        p.suite__feedbacks 
          span #{config.votes}
          |#{config.vocabulary.feedbacks}
        