include ../rate-button/rate-button.pug 

mixin suite(customConfig = {})
  - const blocks = require('@backend/Blocks.js');
  - const defaultConfig = require('@blocks/suite/suite.config.json');
  - const classes = require('@blocks/suite/suite.classes.json');

  - const config = blocks.createConfig(defaultConfig, customConfig);
  - const { suiteNumber, price, votes, roomDetailsHref, vocabulary, images, rating } = config;
  - const { numberSign, luxury, period, feedbacks, currencySign, arrowIcon } = vocabulary;
  - const imagesNumber = Object.keys(images).length;
  - const href = `${roomDetailsHref}?suite_number=${suiteNumber}`;

  form(class = classes.root)

    div(class = classes.gallery)
      i(class = `material-icons ${classes.arrow} ${classes.leftArrow} js-${classes.leftArrow}`) #{arrowIcon}
      i(class = `material-icons ${classes.arrow} ${classes.rightArrow} js-${classes.rightArrow}`) #{arrowIcon}
      each image, index in images
        label
          input(class = `${classes.imageInput} js-${classes.imageInput}` type="radio" name="image-gallery" checked=image.checked value=index)
          img(class = classes.image src=image.link)
          div(class = `${classes.dot} js-${classes.dot}` style=`right: ${(imagesNumber - Number.parseInt(index)+1)*11.25+3}px`)

    div(class = classes.description)

      div(class = classes.title)
        a(class = classes.link href=href)
          h2(class = classes.suiteNumber)
            span(class = classes.suiteNumberSymbol) #{numberSign}
            |#{suiteNumber}
            span(class = classes.suiteNumberLux) #{luxury}
        p(class = classes.suitePrice)
          |#{price}#{currencySign}
          span #{period}
      
      div(class = `${classes.rate} js-${classes.rate}`)
        +rate-button(rating)
        p(class = classes.feedbacks)
          span #{votes}
          |#{feedbacks}
