include ../rate-button/rate-button.pug 

mixin suite(customConfig = {})
  - const blocks = require('@backend/Blocks.js');
  - const defaultConfig = require('@blocks/suite/suite.config.json');

  - const config = blocks.createConfig(defaultConfig, customConfig);
  - const { suiteNumber, pric, votes, vocabulary, images, rating } = config;
  - const { numberSign, luxury, period, feedbacks, currencySign, arrowIcon } = vocabulary;

  .suite.js-suite

    form.suite__gallery
      i.material-icons.suite__arrow.suite__left-arrow.js-suite__left-arrow #{arrowIcon}
      i.material-icons.suite__arrow.suite__right-arrow.js-suite__right-arrow #{arrowIcon}
      each image, index in images
        label
          input.suite__image-input.js-suite__image-input(type="radio" name="image-gallery" checked=image.checked value=index)
          .suite__image(style=`background-image: url(${image.link})`)
          .suite__dot.js-suite__dot(style=`right: ${(Number.parseInt(index)+1)*11.25+3}px`)

    .suite__description

      .suite__title
        h2.suite__title-number
          span.suite__title-number-sign #{numberSign}
          |#{suiteNumber}
          span.suite__title-lux #{luxury}
        p.suite__title-price
          |#{price}#{currencySign}
          span #{period}
      
      .suite__rate
        +rate-button(rating)
        p.suite__feedbacks 
          span #{votes}
          |#{feedbacks}
        