extends ../../layout/landing 

include ../../common.blocks/logo/logo 
include ../../common.blocks/search-form/search-form 
include ../../common.blocks/registration-form/registration-form 
include ../../common.blocks/receipt/receipt 
include ../../common.blocks/login-form/login-form 
include ../../common.blocks/suite/suite 
include ../../common.blocks/calendar/calendar 

block variables
  - const data = require('./cards.data.json');
  - const classes = require('./cards.classes.json');
  - const pageTitle = 'Cards';
  - const pageDescription = 'Cards';
  - const pageClasses = `${classes.cards} js-${classes.cards}`;
  - const { receiptParameters, suites } = data;

block styles
  link(rel="stylesheet" href="assets/css/cards.css")

block scripts
  script(type="text/javascript" src="assets/js/cards.js")

block header 
  .cards__logo
    +logo_blank()

block content
  .cards__background
    .cards__content
      .cards__column
        div(class = `${classes.searchForm} js-${classes.searchForm}`)
          +search-form()

        .cards__registration
          +registration-form()

      .cards__column
        div(class = `${classes.receipt} js-${classes.receipt}`)
          +receipt(receiptParameters)

        .cards__login
          +login-form()

      .cards__column
        div(class = `${classes.calendar} js-${classes.calendar}`)
          +calendar()

        div(class = `${classes.suite} js-${classes.suite}`)
          +suite(suites[0])

        div(class = `${classes.suite} js-${classes.suite}`)
          +suite(suites[1])
